.DS_Store
*.pyc
__pycache__/
*$py.class
*~
.*.sw[pon]
dist/
*.egg-info
*.egg
*.egg/
build/
.build/
_build/
pip-log.txt
.directory
erl_crash.dump
*.db
Documentation/
.tox/
.ropeproject/
.project
.pydevproject
.idea/
.coverage
.ve*
cover/
.vagrant/
*.sqlite3
.cache/
.pytest_cache/
.ruff_cache/
htmlcov/
coverage.xml
.tox/
